@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<CascadingValue Value="@ButtonColor" Name="ButtonColor">
    <RazorClassLibrary.Counter IncrementAmount="10"/>
</CascadingValue>


@code{
    public string ButtonColor { get; set; } = "green";
}
